<div class="container-fluid">
  <h3 class="title_component">Users</h3>

  <div class="col-sm-12"  style="padding: 10px;">
    <button class="btn btn-info btn-lg" (click)="userDetails()">My Profile</button>
    <button class="btn btn-success btn-lg" (click)="userDetails('new_user')">New User</button>
  </div>

  <div class="col-sm-12"  style="padding: 10px;">
    <p>Users of system</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th>Fullname</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{curUser.username}}</td>
          <td>{{curUser.fullname}}</td>
          <td>{{curUser.email}}</td>
        </tr>
        <tr style="color: gray;" *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.fullname}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


