<div class="container-fluid">

  <div class="col-sm-9">
    <p><b>My profile,</b></p>

    <h3>{{ my.getUserName() }}</h3>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-3" >Username : </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" value="LSampath">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Name : </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" value="Lahiru Sampath Vithanage">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">e-mail : </label>
        <div class="col-sm-6">
          <input type="email" class="form-control" value="lahirusampath.15@cse.mrt.ac.lk">
        </div>
      </div>

      <hr>

      <p><b>Change Password,</b></p>

      <div class="form-group">
        <label class="control-label col-sm-3">Current password : </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="enter current password">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">New password : </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="enter new password">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Conform password : </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="confirm password">
        </div>
      </div>

      <hr>
      <div class="col-sm-9" style="text-align: right">
        <button class="btn btn-danger" style="margin: 10px;"> Drop </button>
        <button class="btn btn-success" style="margin: 10px;"> Save </button>
      </div>
    </form>
  </div>

</div>
